.row1 {
  background: url("../assets/banner.jpg");
  min-height: auto;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  background-color: #c1ab96;
}
.row2 {
  position: relative;
  z-index: 100;
  justify-content: end;
  padding-top: 300px;
}

.title {
  font-size: 3rem;
  margin-bottom: 2px;
  color: rgb(12, 10, 26);
}

.row3 {
  font-weight: bolder;
  font-style: italic;
  font-size: large;
}

@import url("https://fonts.googleapis.com/css?family=Lato:200,400|Playfair+Display");
body {
  background-image: linear-gradient(
    190deg,
    rgba(0, 0, 99, 0.05) 10%,
    rgba(0, 0, 255, 0.19) 100%
  );
  padding: 0;
  margin: 0;
}
.wrapper {
  float: left;
  width: 96%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  min-width: 70px;
  background-color: #f1f1f1;
  padding: 2em 1em;
  box-sizing: border-box;
  box-shadow: 0 1px 30px rgba(0, 0, 0, 0.12), 0 3px 5px rgba(0, 0, 0, 0.24);
  text-align: center;
}
.wrapper > h1 {
  font-family: "Lato", sans-serif;
  font-weight: 200;
  font-size: 1.5em;
  letter-spacing: 0.15em;
  color: #333;
}
.details {
  width: 95%;
  margin: 0 auto 2em;
  padding-top: 10.5em;
  padding-bottom: 1em;
  background-color: #ffebc8;
  color: #333;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 5px rgba(0, 0, 0, 0.24);
  transition: all ease-in 0.15s;
}

.wrapper:hover .details {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 5px rgba(0, 0, 0, 0.22);
  transform: translate(0px, -2px) scale(1.01);
}

.details > h1 {
  font-family: "Playfair Display";
  font-size: 1em;
}
.details > h2 {
  font-family: sans-serif;
  font-size: 1.4em;
  font-weight: 200;
  letter-spacing: 0.1em;
}
.details > p {
  font-family: sans-serif;
  font-size: 1em;
  font-weight: 200;
}

.image {
  position: relative;
  z-index: 2;
  width: 85%;
  height: 250px;
  margin: 0 auto -10em;
  background-size: cover;
  background-position: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 10px rgba(0, 0, 0, 0.24);
  transition: all ease-in 0.15s;
}
.wrapper:hover .image {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transform: translate(0px, -3px) scale(1.02);
}

@media screen and (max-width: 1000px) {
  .wrapper {
    width: 47%;
  }
}
@media screen and(max-width:700px) {
  .wrapper {
    float: none;
    width: 70%;
    margin: 1em auto;
  }
}
@media screen and(max-width:700px) {
  .wrapper {
    float: none;
    width: 70%;
    margin: 1em auto;
  }
}

.gradient {
  height: 100vh;
  background-color: grey;
  background-image: radial-gradient(ellipse closest-side, #fff, #ccc);
}
.wrap {
  width: 80%;
  position: relative;
  margin: 0 auto 0 auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media (min-width: 800px) {
  .wrap {
    width: 50%;
  }
}
.card {
  position: relative;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 1px 5px #999;
  overflow: hidden;
  z-index: 10;
}
.image {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: center;
  background-repeat: no-repeat;
  min-height: 300px;
  transition: all 0.5s ease-in-out;
}
.image:hover {
  transform: rotate(-3deg) scale(1.1);
  -webkit-transform: rotate(-3deg) scale(1.1);
}

.price {
  position: absolute;
  top: 0;
  right: 0;
  width: auto;
  color: #eee;
  padding: 20px;
  background-color: #333;
  background-color: rgba(76, 166, 255, 0.9);
  font-size: 24px;
  z-index: 10;
}
.price span {
  font-size: 0.6em;
}

.description {
  position: absolute;
  z-index: 10;
  bottom: 0;
  width: 100%;
  color: #eee;
  padding: 10px 20px 0px 20px;
  background-color: #333;
  background-color: rgba(0, 0, 0, 0.7);
}
.description ul {
  padding: 0;
}
.description li {
  list-style: none;
  display: inline-block;
  margin-right: 20px;
}
.description p {
  font-size: 12px;
  padding-top: 10px;
  text-align: center;
}
.description .glyphicon {
  font-size: 20px;
  text-align: center;
}

.button {
  font: inherit;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 1px solid #07002a;
  background-color: #07002a;
  color: white;
  border-radius: 12px;
  margin-right: 1rem;
}

.button:hover,
.button:active {
  background-color: white;
  border-color: white;
  color: #07002a;
}

.button.alternative {
  color: #220131;
  border-color: transparent;
  background-color: transparent;
}

.button.alternative:hover,
.button.alternative:active {
  background-color: #ddb3f8;
}
