.Search__actions button {
  font: inherit;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 1px solid #6c9574;
  background-color: #6c9574;
  color: white;
  border-radius: 12px;
  margin-right: 1rem;
}

.Search__actions button:hover,
.Search__actions button:active {
  background-color: white;
  border-color: white;
  color: #6c9574;
}
