.home {
  margin-bottom: 2.5rem;
  font-size: 1.5rem;
  text-align: center;
  font-size: 30px;
  background-color: #387ead;
  background-image: url(../../assets/Seguia_mod1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.card {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
  align-self: center;
}

.button {
  color: blue;
}
